.body {
    background-color: #89d4cf; /*Fallback*/
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    
}

i#coffee {
    color: #b86200;
}

.pagecontent {
    max-width: 1000px;
    margin: auto;
}

.mintybg {
    background-color: #c0ffee8a;
}

button#trigger {
    visibility: hidden;
}
